.alert_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border: 1px  solid #dedede;
    border-radius: 10px;
    padding: 5px 10px;
    position: absolute;
    bottom:0px;
    z-index: 100;
    width: 400px;
    background-color:  white;
    right: 30px;
    
}


.alerts_header {
    display: grid;
    grid-template-columns: 1fr 6fr;

    cursor: pointer;
}

.alerts_header_text {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans",
                Ubuntu, Cantarell, "Helvetica Neue",  sans-serif, "Apple Color Emoji",
                "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;

}

.alert_form_wrapper {
    width:100%;
    height: 300px;
    flex-direction: column;
}