.remove-button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.delete_svg {
    fill: #adb5bd;
    cursor: pointer;
}

.delete_svg:hover {
    fill: black;
}

.delete_svg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}